 e-commerce          
 fooddelivery      
IMDB.mwb
  e-commerce.mwb       
fooddelivery.mwb  
IRCTC
cabrental      
employeeandproj.sql 
 hotelbooking     
 IRCTC.mwb
cabrental.mwb  
         
hotelbooking.mwb 
 paytm
cabrental.sql  
employeeproj.mwb    
 IMDB              
paytm.png.mwb
.*pyc;

